* {
    box-sizing: border-box;
    margin:0;
    padding:0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.7em;
    outline:none;
}

h2 {
    color:#666666;
}
header {
    width:1100px;
    height:90px;
    margin:auto;
}

.box {
    width:20%;
    float:left;   
    text-align:center;
    background-color: #e6e6e6;
    height:200px;
    margin:2.5%;    
    padding-top:50px;
    border-radius: 5px;    
    position: relative;
}

.box:nth-child(n+5) {
    margin-top: 0;     
}

input[type="checkbox"] {
    background-color: lightsteelblue;
    width: 12px;
    height: 12px;
    position: absolute;    
}

button {
    color:white;
	background-color:#b3b3b3;
	padding: 8px 16px;
    border-radius:6px;
    font-size: 17px;
    height:35px;
    line-height: 15px;
    margin-top: 15px;
    box-shadow: 3px 3px 3px rgb(0 0 0 / 50%);
    border:none;
}

input[type='checkbox'] {
    position: absolute;
    top:15px;
    left:15px;
    width:12px;
    height:12px;
}

hr {
    border:1px solid grey;
    background:grey;
    width:1045px;
    margin:auto;
   }

/* navbar */

#navbar {    
    overflow:auto;
}

#navbar h2 {
    float: left;
    padding-top:40px;
}

#navbar ul {
    list-style:none;
    float:right;
}

#navbar ul li {
    float:left;
}

#navbar ul li a {
    display:inline-block;
    padding:20px;
    text-align: center;    
}

.clear {
    clear:both;
}

.container1 {
    max-width: 1045px;
    margin:auto;
    margin-top: 50px;   
    height:90px;
}
.container2 {
    margin:auto;
    max-width: 1100px;
    min-height:500px;
}

.container3 {
    margin:auto;
    max-width: 1100px;    
    text-align: center;
    padding: 25px 0px;
    color:#4d4d4d;
}

/* Add form */

.addForm label,
.addForm input,
.addForm select {
    display:block;
    font-size: 26px;
    background-color: brown;
}

p {
    font-size: 15px;
}

.box > label {
    position:absolute;
    top:30px;
    left:10px;
    font-size: 12px;
}

.box > input[type="checkbox"] {
    position:absolute;
    top:15px;
    left:20px;
}

